/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-normal);
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  background-color: #fff;
  inline-size: var(--adaptive-inline-size);
  block-size: 368px;
  margin: 100px 0;
  border: 2px solid var(--main-color, #000);
  font-family: var(--secondary-font, serif);
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color, #000);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--adaptive-inline-size);
}

.card__title {
  inline-size: calc(100% - 20px);
  padding: 3px 0;
  line-height: 1.2em;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-weight-title);
}

.card__img {
  border-bottom: 2px solid var(--main-color, #000);
  border-top: 2px solid var(--main-color, #000);
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-1 {
  filter: brightness(1.06) hue-rotate(66deg) saturate(0.64) ;
  -webkit-filter: brightness(1.06) hue-rotate(66deg) saturate(0.64) ;
  -moz-filter: brightness(1.06) hue-rotate(66deg) saturate(0.64) ;
}

.card__img-2 {
  filter: brightness(0.8) contrast(1.48) saturate(0.91) ;
  -webkit-filter: brightness(0.8) contrast(1.48) saturate(0.91) ;
  -moz-filter: brightness(0.8) contrast(1.48) saturate(0.91) ;
}

.card__img-3 {
  object-position: left;
  filter: hue-rotate(18deg) saturate(1.87) ;
  -webkit-filter: hue-rotate(18deg) saturate(1.87) ;
  -moz-filter: hue-rotate(18deg) saturate(1.87) ;
}

.card__img-4 {
  filter: contrast(1.87) sepia(0.56) ;
  -webkit-filter: contrast(1.87) sepia(0.56) ;
  -moz-filter: contrast(1.87) sepia(0.56) ;
}

.card__img-5 {
  filter: brightness(1.17) grayscale(0.12) ;
  -webkit-filter: brightness(1.17) grayscale(0.12) ;
  -moz-filter: brightness(1.17) grayscale(0.12) ;
}

.card__img-6 {
  filter: contrast(1.49) grayscale(0.27) hue-rotate(20deg) sepia(0.46) ;
  -webkit-filter: contrast(1.49) grayscale(0.27) hue-rotate(20deg) sepia(0.46) ;
  -moz-filter: contrast(1.49) grayscale(0.27) hue-rotate(20deg) sepia(0.46) ;
}

.card__img-7 {
  filter: brightness(0.7) hue-rotate(92deg) saturate(0.73);
  -webkit-filter: brightness(0.7) hue-rotate(92deg) saturate(0.73);
  -moz-filter: brightness(0.7) hue-rotate(92deg) saturate(0.73);
}

.card__img-8 {
  filter: brightness(0.85) sepia(0.55) ;
  -webkit-filter: brightness(0.85) sepia(0.55) ;
  -moz-filter: brightness(0.85) sepia(0.55) ;
}

.card__img-container {
  position: relative;
}

.card__img-label {
  z-index: 1;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--secondary-font, serif);
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow: 
  -1px 0 var(--stroke-color, #fff), 
  0 1px var(--stroke-color, #fff), 
  1px 0 var(--stroke-color, #fff), 
  0 -1px var(--stroke-color, #fff);
}

@supports ((text-stroke: 1px var(--stroke-color, #fff)) or (-webkit-text-stroke: 1px var(--stroke-color, #fff))) {
  .card__img-label {
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
    text-stroke: 1px var(--stroke-colorr, #fff);
    text-shadow: none;
  }
}

.card__text {
  padding: 25px;
}

.card__text:last-of-type {
  padding-top: 0;
}

.card__button {
  cursor: pointer;
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__button::before {
  content: ' ';
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}

.card__button:hover::before {
  transform: scaleX(1);
}

.card__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button__text {
  font-size: 14px;
  font-family: var(--secondary-font, serif);
  color: var(--button-hover-text-color, #fff);
  mix-blend-mode: difference;
}
 
.floppy {
  fill:#fff;
  mix-blend-mode: difference;
}

.card__icon-button {
  transition: border 0.3s ease;
  block-size: 38px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  border: 2px solid var(--main-color);
  outline: none;
}

.card__like-button {
  inline-size: 169px;
  block-size: 38px;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  --heart-core-color: #000;
}

.like-icon:hover .main-body {
  --heart-main-body-color: #000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  --heart-core-color: red;
}

.like-icon:active .main-body {
  --heart-main-body-color: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  --heart-core-color: red;
}

.like-icon.is-liked .main-body {
  --heart-main-body-color: red;
  transition-delay: 0.03s;
}

.like-icon.is-liked .contour {
  --heart-contour-color: red;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: 0.3s scale 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: 0.3s sparks 0.3s ease-in;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-body {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s ease;
}

.core {
  fill: var(--heart-core-color);
  transition: fill 0.3s ease 0.03s;
}

.card__save-button {
  display: flex;
  gap: 8px;
  inline-size: 335px;
  block-size: 55px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 103px;
}

.button__container {
  padding: 0 25px 25px 0;
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.dialog__save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--secondary-font);
  font-size: 14px;
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
}

.dialog__save-container {
  display: flex;
  align-items: center;
  block-size: 63px;
  gap: 20px;
}

.dialog__floppy {
  flex-shrink: 0;
}

.dialog__save-button {
  inline-size: 100%;
  block-size: 38px;
}

.dialog__save[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);;
}

@media (width <= 375px) {
  .card__save-button {
    inline-size: 306px;
    block-size: 80px;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .floppy {
    transform: scale(calc(4 / 3 * 100%));
  }
}